*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(168, 119, 55);
}

li{
    font-size: 1.5rem;

}